POSTGRES_DB=ps_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=567234
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

SECRET_KEY=secret_key
ALGORITHM=HS256

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_FROM_NAME=

REDIS_HOST=localhost
REDIS_PORT=6379

CORS_ORIGINS=http://localhost:3000|http://mytest.com:3000

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_APP_PREFIX=PhotoShare

RATE_LIMITER_TIMES=10
RATE_LIMITER_SECONDS=60