fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
psycopg2==2.9.9
alembic==1.13.1
pydantic-extra-types==2.7.0
phonenumbers==8.13.36
libgravatar==1.0.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
fastapi-mail==1.4.1
redis==5.0.4
pydantic-settings==2.2.1
fastapi-limiter==0.1.6
cloudinary==1.40.0
pytest==8.2.0
pytest-cov==5.0.0